{% extends "base.html" %}

{% block title %} Dettaglio prodotto {% endblock %}

{% block content %}
<div class="product-detail">
    <div class="product-header">
        <h1>{{ prod.nome }}</h1>
    </div>

    <div class="product-info">
        <div class="product-image">
            {% if prod.immagine.url %}
            <img src="{{ prod.immagine.url }}" alt="{{ prod.nome }}">
            {% endif %}
        </div>

        <div class="product-description">
            <p><strong>Descrizione:</strong> {{ prod.descrizione }}</p>
            <p><strong>Artista:</strong> {{ prod.artista }}</p>
            <p class="category"><strong>Genere:</strong> {{ prod.categoria }}</p>
            <p><strong>Anno di uscita:</strong> {{ prod.anno_uscita }}</p>
            <p><strong>Etichetta:</strong> {{ prod.etichetta }}</p>

            <p><a href="{{ prod.link_streaming }}" target="_blank" class="streaming-link">Ascolta l'album in
                    streaming</a></p>
        </div>
    </div>

    <a href="{% url 'home' %}" class="back-link">Ritorna ai Prodotti</a>
</div>
{% endblock %}