{% extends "base.html" %}

{% block title %} Login - SpinIt Records {% endblock %}

{% block content %}
<div class="auth-container">
    <h1>LOGIN</h1>
    {% if logged %}
    <p>Sei già loggato come {{ user.username }}</p>
{% else %}
    <form method="POST">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Accedi</button>
    </form>
{% endif %}

</div>
{% endblock %}