{% extends "base.html" %}

{% block title %} Login - SpinIt Records {% endblock %}

{% block content %}
<div class="auth-container">
    <h1>LOGIN</h1>
    {% if logged %}
    <div class="logged-info">
        <p>Sei già loggato come {{ user.username }}</p>
    </div>
    <form action="{% url 'logout' %}" method="post" class="logout-form">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>

{% else %}
    <form method="POST">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Accedi</button>
    </form>
    <p>Non hai un account? <a href="{% url 'register' %}">Registrati</a></p>
{% endif %}

</div>
{% endblock %}