<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="{% static 'images/logo.jpg' %}" alt="Logo">
            <h1>Catalogo Prodotti</h1>
        </div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Prodotti</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>
